.chatbox{
    display: flex;
    background-color: #F2F1ED;
    min-height: 95vh;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
}
.prompt-area{
    align-self: center;
    justify-self: center;
    margin-bottom: 40px;
}