.home{
    display: flex;
    overflow: hidden;
}

.history-container{
    flex: 1;
    height: 92vh;
    /* border: 1px solid black; */
}

.chatbox-container{
    flex:4;
    height: 92vh;
    /* border: 0.5px solid black; */
}



