.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:7px;
    background-color: var(--primary-color);
}

.links{
    display: flex;
}

.links li{
    list-style: none;
    margin: 10px;
}

hr {
    background-color: var(--secondary-color);
}